<div class="container-fluid">
  <div [ngSwitch]="role">

    <app-dashboard-properties-admin-employee *ngSwitchCase="'admin'"
      [role]="role"
    ></app-dashboard-properties-admin-employee>

    <app-dashboard-properties-admin-employee *ngSwitchCase="'employee'"
      [role]="role"
    ></app-dashboard-properties-admin-employee>

    <app-dashboard-properties-customer *ngSwitchCase="'customer'"></app-dashboard-properties-customer>

    <app-dashboard-properties-owner *ngSwitchCase="'owner'"></app-dashboard-properties-owner>

  </div>
</div>
