<div class="container-fluid">

  <h1 class="px-2 py-4 text-center">{{title}}</h1>
  <h3>{{subTitle}}</h3>

  <hr class="topbar-divider">

  <div class="p-4">
    <button [routerLink]="['/dashboard/sales/create']" class="btn btn-outline-primary">Crear venda</button>
  </div>

  <hr class="topbar-divider">

  <div class="row" *ngIf="lastSales.length > 0; then withSales else withOutSales"></div>
  <ng-template #withSales>
    <div class="col-12">

      <div class="d-flex flex-row">
        <div class="p-2">Limit:</div>
        <div class="p-2">
          <select (change)="limitSales($event.target)">
            <option [ngValue]="3">3</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select>
        </div>
      </div>

      <app-dashboard-table
        [toShow]="lastSalesTable"
        [actionButtons]="lastSalesTableActions"
      ></app-dashboard-table>

    </div>
  </ng-template>
  <ng-template #withOutSales>
    <div class="col-12">

      <div class="d-flex justify-content-center">
        <h6 class="p-3" *ngIf="role==='admin'">
          Encara no hi ha vendes al sistema.
        </h6>
        <h6 class="p-3" *ngIf="role==='employee'">
          Encara no has realitzar cap venda.
        </h6>
      </div>

    </div>
  </ng-template>

  <hr class="topbar-divider">

  <div class="row" *ngIf="haveSystemSales()">
    <div class="col-12 my-4 text-center">
      <h4 class="">Gràfiques vendes</h4>
    </div>
  </div>

  <div class="row my-5" *ngIf="salesByCountriesChartData.length > 0 || salesByCitiesChartData.length > 0">

    <div class="col-12 col-lg-6" *ngIf="salesByCountriesChartData.length > 0">
      <div class="d-block border shadow">
        <h5 class="text-center p-2 text-primary">Vendes per països</h5>
        <canvas baseChart
          [data]="salesByCountriesChartData"
          [labels]="salesByCountriesChartLabels"
          [legend]="true"
          [chartType]="'pie'"
          [colors]="salesByCountriesChartDataColors"
        ></canvas>
      </div>
    </div>

    <div class="col-12 col-lg-6" *ngIf="salesByCitiesChartData.length > 0">
      <div class="d-block border shadow">
        <h5 class="text-center p-2 text-primary">Vendes per ciutats</h5>
        <canvas baseChart
          [data]="salesByCitiesChartData"
          [labels]="salesByCitiesChartLabels"
          [legend]="false"
          [chartType]="'doughnut'"
          [colors]="salesByCitiesChartDataColors"
        ></canvas>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="salesByCategoriesChartData.length > 0 || salesBySellersChartData.length > 0">

    <div class="col-12 col-lg-6" *ngIf="salesByCategoriesChartData.length > 0">
      <div class="d-block border shadow">
        <h5 class="text-center p-2 text-primary">Vendes per categories</h5>
        <canvas baseChart
          [data]="salesByCategoriesChartData"
          [labels]="salesByCategoriesChartLabels"
          [legend]="true"
          [chartType]="'polarArea'"
          [colors]="salesByCategoriesChartDataColors"
        ></canvas>
      </div>
    </div>

    <div class="col-12 col-lg-6" *ngIf="salesBySellersChartData.length > 0">
      <div class="d-block border shadow">
        <h5 class="text-center p-2 text-primary">Vendes per venedor</h5>
        <canvas baseChart
          [data]="salesBySellersChartData"
          [labels]="salesBySellersChartLabels"
          [legend]="false"
          [chartType]="'bar'"
          [colors]="salesBySellersChartDataColors"
          [options]="salesBySellersChartOptions"
        ></canvas>
      </div>
    </div>

  </div>

</div>
