<div class="container p-5">
  <div class="row d-flex justify-content-center p-5">
    <div class="col-xl-4 col-lg-6 col-md-8 col-12">
      <div class="bg-dark text-white text-center title p-3 fs-1">
        INICIA SESSIÓ
      </div>
      <div>
        <form [formGroup]="loginForm" class="border p-2" (ngSubmit)="onLogin()">
          <fieldset>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     name="email"
                     placeholder="Enter email"
                     required
                     formControlName="email"
              >
              <span *ngIf="email!.invalid && email!.touched" class="text-danger">
                Email is required
              </span>
            </div>
            <div class="form-group">
              <label for="password">Contrasenya</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     name="password"
                     placeholder="Contrasenya"
                     required
                     formControlName="password"
              >
              <span *ngIf="password!.invalid && password!.touched" class="text-danger">
                Password is required
              </span>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-dark" value="Login"/>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
