<div class="card">
  <div class="card-header">
    <em>Ciutat: </em>{{property.city_id}}
  </div>
  <div class="card-body">
    <img [src]="property.imageBase64" class="card-img-top">
    <h5 class="card-title">{{property.title}}</h5>
    <p class="card-text"><em>Categoria: </em>{{property.category_id}}</p>
    <a class="btn btn-primary"
      [routerLink]="['/property']"
      [attr.datatype]="property.id"
      (click)="sendProperty($event.target)"
    >Detall</a>
  </div>
  <div class="card-footer">Preu {{property.price}}</div>
</div>
