<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="w-100">
        <img class="img-fluid w-100" [src]="property.imageBase64" alt="property-image-{{property.id}}" />
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3 d-flex justify-content-center align-items-center p-1 bg-dark">
      <div class="text-white p-5">
        <div>Parcel·la</div>
        <div class="text-center">{{property.plot_meters}} m<sup>2</sup></div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center p-1 bg-dark border-left-secondary">
      <div class="text-white">
        <div>Construïts</div>
        <div class="text-center">{{property.built_meters}} m<sup>2</sup></div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center p-1 bg-dark border-left-secondary">
      <div class="text-white">
        <div>Banys</div>
        <div class="text-center">{{property.baths}}</div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center p-1 bg-dark border-left-secondary">
      <div class="text-white">
        <div>Habitacions</div>
        <div class="text-center">{{property.rooms}}</div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 bg-light">
      <div class="container">
        <h1 class="text-center">{{property.title}}</h1>
        <p class="text-center">{{property.description}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-contact-form
        [propertyRef]="property.reference"
      ></app-contact-form>
    </div>
  </div>
  <div class="container">
    <div class="row mt-3 bg-light">
      <div class="col-12 col-md-8">
        <h3 class="text-center p-3">Ubicació</h3>
        <app-map [property]="property"></app-map>
      </div>
      <div class="col-12 col-md-4">
        <div class="container p-5">
          <h3 class="text-center">Certificat energètic</h3>
          <div class="card">
            <div class="card-body d-flex align-items-center justify-content-center">
              <div><img class="card-img-top img-fluid energetic-image" src="./assets/img/energetic_certification.jpeg" alt="energetic-certification" /></div>
            </div>
            <div class="card-footer">{{property.energetic_certification}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
