<div class="container p-5">
  <div class="row d-flex justify-content-center p-5">
    <div class="col-xl-4 col-lg-6 col-md-8 col-12">
      <div class="bg-dark text-white text-center title p-3 fs-1">
        CREA UN COMPTE
      </div>
      <div>
        <form [formGroup]="registerForm" class="border p-2" (ngSubmit)="onRegister()">
          <fieldset>
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text"
                     class="form-control"
                     id="name"
                     name="name"
                     placeholder="Enter your name"
                     required
                     formControlName="name"
              >
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger mt-0 mb-2">
                <div *ngIf="name.errors.required">
                  El nom es requerit
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     name="email"
                     placeholder="Enter email"
                     required
                     formControlName="email"
              >
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger mt-0 mb-2">
                <div *ngIf="email.errors.required">
                  Email requerit
                </div>
                <div *ngIf="email.errors.email">
                  No es un email correcte
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Contrasenya</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     name="password"
                     placeholder="Contrasenya"
                     required
                     formControlName="password"
              >
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger mt-0 mb-2">
                <div *ngIf="password.errors.required">
                  Contrasenya requerida
                </div>
                <div *ngIf="password.errors.minlength">
                  La contrasenya mínim ha de tenir 8 caràcters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Telèfon</label>
              <input type="text"
                     class="form-control"
                     id="phone"
                     name="phone"
                     placeholder="Phone"
                     required
                     formControlName="phone"
              >
              <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger mt-0 mb-2">
                <div *ngIf="phone.errors.required">
                  El telefon es requerit
                </div>
                <div *ngIf="phone.errors.minlength">
                  EL telefon mínim ha de tenir 9 caràcters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Direcció</label>
              <input type="text"
                     class="form-control"
                     id="address"
                     name="address"
                     placeholder="Address"
                     required
                     formControlName="address"
              >
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger mt-0 mb-2">
                <div *ngIf="address.errors.required">
                  La adreça es requerida
                </div>
                <div *ngIf="address.errors.maxlength">
                  La adreça no pot tenir més de 255 caràcters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="fiscal_id">Identificació fiscal</label>
              <input type="text"
                     class="form-control"
                     id="fiscal_id"
                     name="fiscal_id"
                     placeholder="Your fiscal ID"
                     required
                     formControlName="fiscal_id"
              >
              <div *ngIf="fiscalId.invalid && (fiscalId.dirty || fiscalId.touched)" class="text-danger mt-0 mb-2">
                <div *ngIf="fiscalId.errors.required">
                  L´identificador fiscal es requerit
                </div>
                <div *ngIf="fiscalId.errors.maxlength">
                  L´identificador fiscal no pot tenir més de 255 caràcters
                </div>
              </div>
            </div>
            <fieldset class="form-group">
              <label>Rol usuari</label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" formControlName="role" class="form-check-input" name="role" id="optionsRadios1" value="customer" checked="">
                  Client
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" formControlName="role" class="form-check-input" name="role" id="optionsRadios2" value="employee">
                  Empleat
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" formControlName="role" class="form-check-input" name="role" id="optionsRadios3" value="owner">
                  Propietari
                </label>
              </div>
              <div *ngIf="role!.errors && role!.hasError('required')" class="text-danger">Role is required</div>
            </fieldset>
            <div class="form-group">
              <input type="submit" class="btn btn-dark" value="Crea" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
