<div class="card">
  <div class="card-header">
    <em>Ciutat: </em>{{property.city.name |titlecase}}
  </div>
  <div class="card-body">
    <img [src]="property.imageBase64" class="card-img-top"  alt="property-image-{{property.title}}"/>
    <h5 class="card-title mt-4">{{property.title |titlecase}}</h5>
    <p *ngIf="property.category" class="card-text"><em>Categoria: </em>{{property.category.name}}</p>
    <a class="btn btn-primary"
      [routerLink]="['/property', property.id]"
      (click)="sendProperty()"
    >Detall</a>
  </div>
  <div class="card-footer">Preu: {{property.price}}</div>
</div>
