<div class="container-fluid">

  <h1 class="px-2 py-4 text-center">{{title}}</h1>
  <h3>{{subTitle}}</h3>

  <hr class="topbar-divider">

  <div class="row" *ngIf="tours && tours.length > 0">
    <div class="col-12">

      <div class="d-flex flex-row">
        <div class="p-2">Limit:</div>
        <div class="p-2">
          <select (change)="limitTours($event.target)">
            <option [ngValue]="3">3</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select>
        </div>
      </div>

      <app-dashboard-table
        [toShow]="toursTable"
        [actionButtons]="actionButtons"
      ></app-dashboard-table>

    </div>
  </div>

</div>
