<div class="container-fluid">

  <h1 class="text-center my-5">{{modeTitle | titlecase}} categoria</h1>

  <div class="mt-4 border-dark d-flex flex-column justify-content-center align-items-center">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- ID -->
      <input type="text" class="form-control" aria-describedby="category-id" formControlName="id" hidden>

      <!-- NAME -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="category-reference">Nom*</span>
        <input type="text" class="form-control" aria-describedby="category-reference" formControlName="name">
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger mt-0 mb-2">
        <div *ngIf="name.errors.required">
          El nom es requerit
        </div>
      </div>

      <!-- IMAGE -->
      <div class="mb-3">
        <label for="image" class="form-label">Selecciona una imatge</label>
        <input class="form-control" accept="image/*" type="file" id="image" (change)="previewImage($event)" />
      </div>
this.

      <!-- IMAGE PREVIEW -->
      <img [src]="imgPreview" *ngIf="imgPreview" style="height: 200px; width:400px" alt="property-image">

      <!-- SUBMIT -->
      <div class="input-group my-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary">{{modeTitle}}</button>
      </div>

    </form>

  </div>

</div>
