<h1 class="px-2 py-4 text-center">{{title}}</h1>
<h3>{{subTitle}}</h3>

<hr class="topbar-divider">

<div class="container">

  <div class="row" *ngIf="sealedProperties.length > 0">
    <div class="col-12 d-flex justify-content-center">
      <app-dashboard-table
        [toShow]="salesTable"
        [actionButtons]="actionButtons"
      ></app-dashboard-table>
    </div>
  </div>

  <hr class="topbar-divider" *ngIf="sealedProperties.length > 0">

  <div class="row" *ngIf="sealedProperties.length > 0">
    <div class="col-12">
      <div class="d-block border shadow">
        <h4 class="text-center p-4 text-primary">
          Vendes per any
        </h4>
        <canvas baseChart class="pb-4"
          [data]="chartData"
          [labels]="chartLabels"
          [colors]="chartColors"
          [legend]="chartLegend"
          [chartType]="'line'"
          [options]="chartOptions"
        ></canvas>
      </div>
    </div>
  </div>

</div>
