<section class="container mt-5">
  <div class="text-center p-5">
    <h2>{{title}}</h2>
  </div>
  <div class="row">
    <div *ngFor="let category of categories" class="col-12 col-md-6">
      <a [routerLink]="['/category', category.id]">
        <div class="d-flex justify-content-center align-items-center p-2 position-relative container-category-img">
          <div class="bg-dark wrap-category-img text-center" [attr.datatype]="category.name">
            <span class="text-white" [attr.datatype]="category.name">{{category.name.toUpperCase()}}</span>
          </div>
          <img [src]="category.safeUrl" [attr.alt]="category.name" class="figure-img img-fluid" [attr.datatype]="category.name"/>
        </div>
      </a>
    </div>
  </div>
</section>
