<section class="container mt-5">
  <div class="text-center p-5">
    <h2>{{title}}</h2>
  </div>
  <div class="row">
    <div *ngFor="let category of categories" class="col-12 col-md-6 bg-danger">
      <a href="#">
        <div class="d-flex justify-content-center align-items-center p-2 position-relative container-category-img">
          <div class="bg-dark wrap-category-img text-center">
            <span class="text-white">{{category.name}}</span>
          </div>
          <img [src]="getImage(category.id)" alt="category-{{category.name}}" class="figure-img img-fluid"/>
        </div>
      </a>
    </div>
  </div>
</section>
