<div class="container-fluid p-0">
  <section class="bg-dark">
      <figure class="figure home-slider-img m-0 p-0">
        <img src="assets/img/SliderHOME.jpg" class="figure-img img-fluid">
      </figure>
  </section>
  <app-searcher></app-searcher>
</div>

<div class="container">
  <div class="text-center p-4">
    <h1>Propietats</h1>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">Footer</div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">Footer</div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">Footer</div>
      </div>
    </div>
  </div>
</div>
