<div class="container-fluid p-0">
  <section class="bg-dark">
      <figure class="figure home-slider-img m-0 p-0">
        <img src="assets/img/SliderHOME.jpg" class="figure-img img-fluid">
      </figure>
  </section>
  <app-searcher></app-searcher>
</div>

<div class="container">
  <div class="text-center p-4">
    <h1>Darreres Propietats</h1>
  </div>
  <div class="row">
    <div *ngFor="let property of properties" class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header">{{property.title}}</div>
        <div class="card-body">
          <img [src]="property.imageBase64" [alt]="property.title" class="card-img-top">
          <h5 class="card-title mt-5">{{property.title}}</h5>
          <p class="card-text">{{property.description}}</p>
          <a [routerLink]="['/property']" class="btn btn-primary" (click)="sendProperty($event.target)" [attr.datatype]="property.id">Detalle</a>
        </div>
        <div class="card-footer">Preu {{property.price}}</div>
      </div>
    </div>
  </div>
</div>

<app-contact></app-contact>
