<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['home']">
    <div class="sidebar-brand-icon">
      <fa-icon [icon]="faHome"></fa-icon>
    </div>
    <div class="sidebar-brand-text mx-3">HOMEWEB</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['home']">
      <fa-icon [icon]="faTachometerAlt"></fa-icon>
      <span>  Panell de control</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Administra
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item" *ngIf="properties">
    <a class="nav-link collapsed" [routerLink]="['/dashboard/properties']">
      <fa-icon [icon]="faHome"></fa-icon>
      <span class="ml-3">Propietats</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="categories">
    <a class="nav-link collapsed" [routerLink]="['/dashboard/categories']">
      <fa-icon [icon]="faCategory"></fa-icon>
      <span class="ml-3">Categories</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="sales">
    <a class="nav-link collapsed" href="#">
      <fa-icon [icon]="faSale"></fa-icon>
      <span class="ml-3">Vendes</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="tours">
    <a class="nav-link collapsed" href="#">
      <fa-icon [icon]="faTour"></fa-icon>
      <span class="ml-3">Visites</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="countries">
    <a class="nav-link collapsed" [routerLink]="['/dashboard/countries']">
      <fa-icon [icon]="faCountry"></fa-icon>
      <span class="ml-3">Països</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="cities">
    <a class="nav-link collapsed" [routerLink]="['/dashboard/cities']">
      <fa-icon [icon]="faCity"></fa-icon>
      <span class="ml-3">Ciutats</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

</ul>
