<div class="container">
  <div class="text-center p-4">
    <div *ngIf="properties.length > 0; then withResults else noResults"></div>
    <ng-template #withResults><h1>Categoria {{category.toUpperCase()}}</h1></ng-template>
    <ng-template #noResults><h1>Sense resultats</h1></ng-template>
  </div>
  <div class="row">
    <div *ngFor="let property of properties" class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header"><em></em>{{property.title}}</div>
        <div class="card-body">
          <img class="card-img-top" [src]="property.imageBase64" />
          <h5 class="card-title mt-2 text-center">{{property.title}}</h5>
          <p class="card-text"><em>Referencia: </em>{{property.reference}}</p>
          <a class="btn btn-primary"
             [routerLink]="['/property']"
             (click)="sendProperty($event.target)"
             [attr.datatype]="property.id"
          >Detalle</a>
        </div>
        <div class="card-footer">Preu: {{property.price}}</div>
      </div>
    </div>
  </div>
</div>
