<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="w-100">
        <div *ngIf="property.image; then withImage else defaultImage"></div>
        <ng-template #withImage>
          <img [src]="property.imageBase64" class="card-img-top" alt="property-image-{{property.title}}"/>
        </ng-template>
        <ng-template #defaultImage>
          <img src="assets/img/default-house.jpg" class="card-img-top" alt="default-property-image">
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3 d-flex justify-content-center align-items-center p-1 bg-dark">
      <div class="text-white p-5">
        <div>Parcel·la</div>
        <div class="text-center">{{property.plot_meters}} m<sup>2</sup></div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center p-1 bg-dark border-left-secondary">
      <div class="text-white">
        <div>Construïts</div>
        <div class="text-center">{{property.built_meters}} m<sup>2</sup></div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center p-1 bg-dark border-left-secondary">
      <div class="text-white">
        <div>Banys</div>
        <div class="text-center">{{property.baths}}</div>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center p-1 bg-dark border-left-secondary">
      <div class="text-white">
        <div>Habitacions</div>
        <div class="text-center">{{property.rooms}}</div>
      </div>
    </div>
  </div>
  <hr class="topbar-divider"/>
  <div class="row mt-1">
    <div class="col-12 col-lg-6 offset-lg-3 col-md-8 offset-md-2">
      <app-dashboard-table
        [toShow]="dataTable"
        [actionButtons]="actionButtons"
      ></app-dashboard-table>
    </div>
  </div>
  <hr class="topbar-divider" *ngIf="role==='admin'||role==='employee'"/>
  <div class="d-flex justify-content-center align-items-center" *ngIf="role==='admin'||role==='employee'">
    <div class="h5">Vols que sigui visible a la web?</div>
    <div class="ml-2">
      <ng-toggle
        [value]="visibleOnWeb"
        [width]="55"
        [color]="{
          unchecked: '#f62d51',
          checked: '#5bd049'
        }"
        [labels]="{
          checked: 'On',
          unchecked: 'Off'
        }"
        (change)="setVisibleOnWeb($event)"
      ></ng-toggle>
    </div>
  </div>
  <hr class="topbar-divider"/>
  <div class="row mt-3">
    <div class="col-12 bg-light">
      <div class="container">
        <h1 class="text-center p-5">{{property.title}}</h1>
        <p class="text-center mb-5">{{property.description}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="p-3 input-group-text">Característiques</h5>
      <div class="text-center border p-4"
        *ngIf="property.features && property.features.length > 0; then withFeatures else withOutFeatures"></div>
      <ng-template #withFeatures>
        <div class="d-flex justify-content-around">
          <div *ngFor="let feature of property.features" class="my-5 p-3 card border-left-primary">
            {{feature.name}}
          </div>
        </div>
      </ng-template>
      <ng-template #withOutFeatures>
        <h6 class="text-center p-3">
          Aquesta propietat encara no té característiques.
        </h6>
      </ng-template>
      <hr class="topbar-divider"/>
    </div>
  </div>
  <div class="row mt-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <h3 class="text-center p-3">Ubicació</h3>
          <app-map [mapData]="mapData"></app-map>
        </div>
        <div class="col-12 col-md-4">
          <div class="container p-5">
            <h3 class="text-center">Certificat energètic</h3>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <div><img class="card-img-top img-fluid energetic-image" src="./assets/img/energetic_certification.jpeg"
                          alt="energetic-certification"/></div>
              </div>
              <div class="card-footer">{{property.energetic_certification}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
