<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">HOMEWEB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="[ '/home' ]" [routerLinkActive]="[ 'active' ]" (click)="getActiveUrl()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/categories' ]" [routerLinkActive]="[ 'active' ]" (click)="getActiveUrl()">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/aboutus' ]" [routerLinkActive]="[ 'active' ]" (click)="getActiveUrl()">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/contact' ]" [routerLinkActive]="[ 'active' ]" (click)="getActiveUrl()">Contacte</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-md-3">
      <div *ngIf="!isLogged; else elseBlock">
        <button class="btn btn-light mr-2" [routerLink]="['auth/login']" (click)="getActiveUrl()">Inicia sessió</button>
        <button class="btn btn-light" [routerLink]="['auth/register']" (click)="getActiveUrl()">Crea un compte</button>
      </div>
      <ng-template #elseBlock>
        <button class="btn btn-light mr-2" [routerLink]="['dashboard']">Dashboard</button>
        <button class="btn btn-light mr-2" (click)="logOut()">Logout</button>
      </ng-template>
    </div>
  </div>
</nav>
